@use "@angular/material" as mat;
@use "./theme/theme-colors" as theme;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: theme.$primary-palette,
      typography: Inter,
      density: 0
    )
  );

  @include mat.button-overrides(
    (
      filled-container-shape: 4px,
      outlined-container-shape: 4px,
      protected-container-shape: 4px,
      text-container-shape: 4px
    )
  );
}

.dark {
  color-scheme: dark;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf") format("truetype-variations");
}

html,
body {
  height: 100%;
}

body {
  font-family: "Inter", "Roboto", "Helvetica Neue";
}
