<header class="flex items-center justify-between p-3 px-6 w-full dark:bg-surface-0 dark:border-surface-20 bg-surface-100 border-surface-80 border-b">
  <div class="flex items-center gap-3">
    <c-app-button 
      type="button"
      typeButton="icon"
      (clickButton)="sidebarService.toggleOpen()"
      classIcon="w-6 h-6 dark:fill-primary-50 fill-primary-40"
      classButton="p-2"
      icon="menu"
      iconModule="dashboard"
    />

    <nav aria-label="Breadcrumb">
      <ol class="flex items-center gap-2 text-sm">
        @for (crumb of breadCrumbService.breadCrumbs(); track $index; let last = $last) {
          <li class="flex items-center gap-2">
            @if ($index > 0) {<span class="dark:text-surface-40 text-surface-50">›</span>}
            
            @if (!last) {
              <a [routerLink]="crumb.url"
                  class="dark:text-surface-60 text-surface-40 dark:hover:text-primary-70 hover:text-primary-10 font-medium transition-colors">
                {{ translateService.tSignal(crumb.label)() }}
              </a>
            } @else {
              <span class="dark:text-surface-90 text-surface-5 font-semibold">
                {{ translateService.tSignal(crumb.label)() }}
              </span>
            }
          </li>
        }
      </ol>
    </nav>
  </div>

  <div class="flex items-center gap-1">
    <c-app-button 
      type="button"
      typeButton="icon"
      icon="fill-support"
      iconModule="dashboard"
      classIcon="w-6 h-6 dark:fill-primary-50 fill-primary-40"
      classButton="p-2"
    />

    <div #triggerLanguage>
      <c-app-button 
        type="button"
        typeButton="icon"
        icon="outlined-language"
        iconModule="dashboard"
        (clickButton)="menuService.open(triggerLanguage, optionsLanguage)"
        classIcon="w-6 h-6 dark:fill-primary-50 fill-primary-40"
        classButton="p-2"
      />
    </div>

    <c-app-button 
      type="button"
      typeButton="icon"
      [icon]="themeService.theme() === 'light' ? 'fill-moon' : 'outlined-sun'"
      iconModule="dashboard"
      classIcon="w-6 h-6 dark:fill-primary-50 fill-primary-40"
      classButton="p-2"
      (clickButton)="themeService.toggleTheme()"
    />
  </div>
</header>

<ng-template #optionsLanguage>
  <div class="select">
    @for (language of translateService.langPathsTranslate; track $index) {
      <div 
        class="select-option min-w-32" 
        [ngClass]="{
          'active': language[0] === translateService.langSignal()
        }"
        (click)="changeTranslate(language[0])"
      >
        {{ language[1] }}
      </div>
    }
  </div>
</ng-template>