<header class="flex items-center p-3 px-6 w-full bg-surface-0 border-surface-20 border-b">
  <c-app-button 
    classButton="p-2"
    type="button"
    typeButton="icon"
    (clickButton)="sidebarService.toggleOpen()"
  >
    <c-app-icon 
      className="w-6 h-6 fill-primary-50"
      svgIcon="menu"
      svgModule="dashboard"
    />
  </c-app-button>

  <nav aria-label="Breadcrumb">
    <ol class="flex items-center gap-2 text-sm">
      @for (crumb of breadCrumbService.breadCrumbs(); track $index; let last = $last) {
        <li class="flex items-center gap-2">
          <span class="text-surface-40">›</span>
          
          @if (!last) {
            <a [routerLink]="crumb.url"
                class="text-surface-60 hover:text-primary-60 font-medium transition-colors">
              {{ translateService.tSignal(crumb.label)() }}
            </a>
          } @else {
            <span class="text-surface-90 font-semibold">
              {{ translateService.tSignal(crumb.label)() }}
            </span>
          }
        </li>
      }
    </ol>
  </nav>

  <div class="ms-auto">
    <div #triggerLanguage>
      <c-app-button 
        classButton="p-2"
        type="button"
        typeButton="icon"
        (clickButton)="menuService.open(triggerLanguage, optionsLanguage)"
      >
        <c-app-icon 
          className="w-6 h-6 fill-primary-50"
          svgIcon="outlined-language"
          svgModule="dashboard"
        />
      </c-app-button>
    </div>
  </div>
</header>

<ng-template #optionsLanguage>
  <div class="select">
    @for (language of translateService.langPathsTranslate; track $index) {
      <div 
        class="select-option min-w-32" 
        [ngClass]="{
          'active': language[0] === translateService.langSignal()
        }"
        (click)="changeTranslate(language[0])"
      >
        {{ language[1] }}
      </div>
    }
  </div>
</ng-template>