<aside class="bg-surface-0 border-surface-20 border-e flex flex-col px-3 justify-between overflow-y-auto h-full">
  <div class="flex flex-col">
    <header class="py-3">
      <div class="h-10 gap-2 flex items-center justify-center overflow-hidden">
        <img src="/ui/assets/icons/svg/logo.svg" alt="logo-svg" class="max-h-8" />
        @if (sidebarService.isOpen()) {<h1 class="text-surface-90 font-bold text-lg text-center whitespace-nowrap">ERP3</h1>}
      </div>
    </header>
    <div class="flex flex-col gap-3">
    @for (group of sidebarConstant; track $index) {
      <c-dashboard-sidebar-group
        [titulo]="translateService.tSignal(group.title)()"
        [open]="sidebarService.isOpen()"
      >
        @for (item of group.items; track $index) {
          <c-dashboard-sidebar-item
            [label]="translateService.tSignal(item.label)()"
            [routerLink]="item.route"
            [routerLinkActiveOptions]="item.routerLinkActiveOptions ?? { exact: false }"
            [icon]="item.icon"
            [iconModule]="item.iconModule"
            [open]="sidebarService.isOpen()"
          />
        }
      </c-dashboard-sidebar-group>
      @if ($index < sidebarConstant.length - 1) {
        <hr class="border-surface-20 border-e">
      }
    }
    </div>
  </div>
</aside>