$error-erp-palette: (
  0: #000000,
  10: #410002,
  20: #690005,
  30: #93000a,
  40: #ba1a1a,
  50: #de3730,
  60: #ff5449,
  70: #ff897d,
  80: #ffb4ab,
  90: #ffdad6,
  100: #ffffff
);

$error-erp-contrast: (
  on-error: #ffffff,
  error-container: #98000a,
  on-error-container: #220001,
);

@mixin export-error-vars($prefix: "error") {
  :root {
    @each $k, $v in $error-erp-palette {
      --#{$prefix}-#{$k}: #{$v};
    }
    @each $ck, $cv in $error-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
  }
}
