$neutral-erp-palette: (
  0: #000000,
  10: #1c1b1b,
  20: #313030,
  25: #3c3b3b,
  30: #474646,
  35: #535252,
  40: #5f5e5e,
  50: #787776,
  60: #929090,
  70: #adabaa,
  80: #c9c6c5,
  90: #e5e2e1,
  95: #f4f0ef,
  98: #fcf8f8,
  99: #f6feff,
  100: #ffffff,
  4: #0e0e0e,
  6: #141313,
  12: #201f1f,
  17: #2a2a2a,
  22: #353434,
  24: #3a3939,
  87: #ddd9d9,
  92: #ebe7e7,
  94: #f1edec,
  96: #f6f3f2
);

$neutral-erp-contrast: (
  on-neutral: #ffffff,
  neutral-container: #48494a,
  on-neutral-container: #282a2b,
  inverse-neutral: #c6c6c7,
  neutral-fixed: #48494a,
  neutral-fixed-dim: #313333,
  on-neutral-fixed: #ffffff,
  on-neutral-fixed-variant: #ffffff
);

@mixin export-neutral-vars($prefix: "neutral") {
  :root {
    @each $k, $v in $neutral-erp-palette {
      --#{$prefix}-#{$k}: #{$v};
    }
    @each $ck, $cv in $neutral-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
  }
}
