$neutral-variant-erp-palette: (
  0: #000000,
  10: #181c1d,
  20: #2d3132,
  25: #383c3d,
  30: #444748,
  35: #4f5354,
  40: #5b5f60,
  50: #747878,
  60: #8e9192,
  70: #a8acac,
  80: #c4c7c8,
  90: #e0e3e3,
  95: #eef1f2,
  98: #f7fafa,
  99: #fafdfd,
  100: #ffffff
);

$neutral-variant-erp-contrast: (
  on-neutral-variant: #ffffff,
  neutral-variant-container: #48494a,
  on-neutral-variant-container: #282a2b,
  inverse-neutral-variant: #c6c6c7,
  neutral-variant-fixed: #48494a,
  neutral-variant-fixed-dim: #313333,
  on-neutral-variant-fixed: #ffffff,
  on-neutral-variant-fixed-variant: #ffffff
);

@mixin export-neutral-variant-vars($prefix: "neutral-variant") {
  :root {
    @each $k, $v in $neutral-variant-erp-palette {
      --#{$prefix}-#{$k}: #{$v};
    }
    @each $ck, $cv in $neutral-variant-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
  }
}
