$primary-erp-palette: (
  0: #06070f,
  10: #191a2f,
  20: #2e2f45,
  30: #44455c,
  40: #5c5c75,
  50: #75758e,
  60: #8f8ea9,
  70: #a9a9c4,
  80: #c5c4e0,
  90: #e1e0fd,
  100: #ffffff
);

$primary-erp-contrast: (
  on-primary: #ffffff,
  primary-container: #48494a,
  on-primary-container: #282a2b,
);

$light-primary-erp-contrast: (
  light-on-primary: #c6c6c6,
  light-primary-container: #d6d5d5,
  light-on-primary-container: #e4e4e4,
);

@mixin export-primary-vars($prefix: "primary") {
  :root {
    @each $k, $v in $primary-erp-palette {
      --#{$prefix}-#{$k}: #{$v};
    }
    @each $ck, $cv in $primary-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
    @each $ck, $cv in $light-primary-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
  }
}
