$tertiary-erp-palette: (
  0: #000000,
  10: #1c1b1d,
  20: #313032,
  30: #474649,
  40: #5f5e60,
  50: #787679,
  60: #929093,
  70: #adaaad,
  80: #c9c5c8,
  90: #e5e1e4,
  100: #ffffff
);

$tertiary-erp-contrast: (
  on-tertiary: #ffffff,
  tertiary-container: #47475e,
  on-tertiary-container: #08091d,
);

$light-tertiary-erp-contrast: (
  light-on-tertiary: #08091d,
  light-tertiary-container: #47475e,
  light-on-tertiary-container: #ffffff,
);

@mixin export-tertiary-vars($prefix: "tertiary") {
  :root {
    @each $k, $v in $tertiary-erp-palette {
      --#{$prefix}-#{$k}: #{$v};
    }
    @each $ck, $cv in $tertiary-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
    @each $ck, $cv in $light-tertiary-erp-contrast {
      --#{$prefix}-#{$ck}: #{$cv};
    }
  }
}
