<div class="flex justify-center gap-8 w-148">
  @for (plan of registerService.plans(); track plan.id) {
    <div
      class="relative flex flex-col justify-between rounded-2xl border dark:border-primary-20
             border-primary-80 dark:bg-surface-10 bg-surface-90 p-6 shadow-sm hover:shadow-xl 
             transition-all duration-300">
      <div class="flex flex-col gap-2">
        <p class="text-xs font-semibold dark:text-primary-70 text-primary-40 tracking-widest">
          PLAN
        </p>
        <h3 class="text-2xl font-bold dark:text-surface-on-surface text-light-surface-on-surface">
          {{ plan.name | textFormat:'space' | textFormat:'capitalize' }}
        </h3>

        <div class="mt-4 flex items-end gap-1">
          <span class="text-3xl font-extrabold dark:text-surface-80 text-surface-30">
            ${{ plan.monthlyPrice }}
          </span>
          <span class="text-sm dark:text-surface-60 text-surface-40 mb-1">
            /month
          </span>
        </div>

      </div>

      <div class="mt-6 flex flex-col gap-3">
        @for (feature of plan.features; track feature.code) {
          <div class="flex items-center gap-3 text-sm dark:text-primary-70 text-primary-30">
            <div class="w-1.5 h-1.5 rounded-full dark:bg-primary-80 bg-primary-20"></div>
            <span>
              {{ feature.code | textFormat:'space' | textFormat:'capitalize' }}
              @if (feature.max !== null) {
                <span class="text-neutral-400">
                  (max {{ feature.max }})
                </span>
              }
            </span>

          </div>
        }

      </div>

      <div class="mt-8">
        <c-app-button
          color="accent"
          typeButton="flat"
          (clickButton)="selectPlan(plan)">
          Select
        </c-app-button>
      </div>

    </div>
  }
</div>