<div class="flex flex-col gap-3">
  <c-app-form-field 
    textLabel="Department"
    placeholder="Enter your department"
    type="text"
    name="department"
    [formData]="registerService.formRegisterContact"
  ></c-app-form-field>
  <div class="flex items-start gap-3">
    <c-app-form-field 
      textLabel="Province"
      placeholder="Enter the province"
      type="text"
      name="province"
      [formData]="registerService.formRegisterContact"
    ></c-app-form-field>
    <c-app-form-field 
      textLabel="District"
      placeholder="Enter your district"
      type="text"
      name="district"
      [formData]="registerService.formRegisterContact"
    ></c-app-form-field>
  </div>
  <c-app-form-field 
    textLabel="Address"
    placeholder="Enter your organization address"
    type="text"
    name="address"
    [formData]="registerService.formRegisterContact"
  ></c-app-form-field>
  <div class="flex items-start gap-3">
    <c-app-form-field 
      textLabel="Postal Code"
      placeholder="Enter your postal code"
      type="text"
      name="postalCode"
      [formData]="registerService.formRegisterContact"
    ></c-app-form-field>
    <c-app-form-field 
      textLabel="Phone"
      placeholder="Enter your organization phone"
      type="tel"
      name="phone"
      [formData]="registerService.formRegisterContact"
    ></c-app-form-field>
  </div>
</div>